.articulo,
.tituloArticulo {
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.editButton{
    color: rgb(17, 102, 158);
}

.contArticulos{
    background-color: rgb(235, 235, 235);
}

.btnCrearArt{
    padding:15px 10px;
    background: #2580b4;
}