.articulo,
.tituloArticulo {
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.editButton{
    color: rgb(17, 102, 158);
}

.contArticulos{
    background-color: rgb(235, 235, 235);
}

.imgMovie{
    border-style:solid; 
	border-width: 2px; 
	border-radius: 5px; 
	max-height:250px;
}